__pycache__
build
dist
*.txt
*.pt
*egg-info*
tmp
output
*.pyc
.idea
*.zip
cache/
temp/
checkpoints/
huggingface/
log/
log0/
log1/
log2/
log3/
log4/
log5/
log6/
log7/
act_scales/
act_shifts/
pre_quantized_models/
temp.sh
tmux_log/
result/
ldx_test.sh
Llama-2-7b-hf.zip
model/
wandb/demo.py
demo.py
wang.sh
wang_opt.sh
wang_opt1.sh
wang_opt2.sh
wang_llama.sh
wang_llama1.sh
wang_llama2.sh
wang_llama3.sh